@page "/values/{CustomerCode}"
@using RPApplication.SharedDTO
@using RPApplication.WebGUI.DTOs
@using RPApplication.WebGUI.ServiceContracts
@inject ICustomerValueService CustomerValueService
@inject NavigationManager NavManager
@rendermode InteractiveServer
@using ApexCharts

<h3>Customer values</h3>

@if (isLoading)
{
    <div class="text-center">
        <div class="spinner-border text-primary" role="status"></div>
        <p>Loading data...</p>
    </div>
}
else
{
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-7"></div>
                <div class="col-md-5 text-end align-self-end">
                    <button class="btn btn-success" @onclick="CreateNew">+ Add value</button>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-hover border">
        <thead class="table-light">
            <tr>
                <th>
                    Reg1 Value
                </th>
                <th>
                    Reg Date
                </th>
                <th>Type description</th>
                <th>Type Unit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var value in CustomerValues)
            {
                <tr>
                    <td>@value.Reg1Value</td>
                    <td>@value.RegDate!.Value.ToString("dd.MM.yyyy HH:mm")</td>
                    <td>@value.ValueTypeDescription</td>
                    <td>@value.ValueTypeUnit</td>
                </tr>
            }
        </tbody>
    </table>

    <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>

    <div class="row">
        <ApexChart TItem="ConsumptionData"
                   Title="@($"Consumption")"
                   Options="_options" Width="1000">

            <ApexPointSeries TItem="ConsumptionData"
                             Items="_chartData"
                             Name="Usage"
                             SeriesType="SeriesType.Bar"
                             XValue="@(e => e.DateLabel)"
                             YValue="@(e => (decimal)e.Consumption)" />
        </ApexChart>
    </div>

}

@code {
    [Parameter]
    public string? CustomerCode { get; set; }

    private List<CustomerValueDTO> CustomerValues = new();
    private List<ConsumptionData>? _chartData;
    private bool isLoading = false;
    private ApexChartOptions<ConsumptionData>? _options;
    private string _unit = "";

    protected override async Task OnInitializedAsync()
    {
        await LoadData();

        _options = new ApexChartOptions<ConsumptionData>
        {
            Chart = new Chart { Toolbar = new Toolbar { Show = false } },
            Xaxis = new XAxis
            {
                Title = new AxisTitle { Text = "Reading Date" }
            },
            Yaxis = new List<YAxis> {
                new YAxis { Title = new AxisTitle { Text = "Consumption" } }
            },
            Colors = new List<string> { "#008FFB" }
        };

        if (CustomerValues != null && CustomerValues.Any())
        {
            CalculateConsumption();
        }

    }

    private void CalculateConsumption()
    {
        var sorted = CustomerValues
            .Where(x => x.RegDate.HasValue)
            .OrderBy(x => x.RegDate)
            .ToList();

        var result = new List<ConsumptionData>();

        for (int i = 1; i < sorted.Count; i++)
        {
            var current = sorted[i];
            var previous = sorted[i - 1];

            double diff = current.Reg1Value - previous.Reg1Value;

            if (diff < 0) diff = 0;

            result.Add(new ConsumptionData
            {
                DateLabel = current.RegDate!.Value.ToString("dd MMM yyyy"),

                Consumption = (decimal)diff
            });
        }

        _chartData = result;
    }

    private async Task LoadData()
    {
        isLoading = true;
        try
        {
            if (string.IsNullOrEmpty(CustomerCode))
            {
                return;
            }

            CustomerValues = await CustomerValueService.GetCustomerValues(CustomerCode);
        }
        finally
        {
            isLoading = false;
        }
    }

    private void CreateNew() => NavManager.NavigateTo($"/values/create/{CustomerCode}");
    private void Cancel() => NavManager.NavigateTo($"customers");
}